# Created by venv; see https://docs.python.org/3/library/venv.html


# ignore the virtual environment
.venv/
__pycache__/
*.pyc
.env

# frontend -- demo

demo-frontend/node_modules/
demo-frontend/dist/